* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    color: white;
    font-size: 30px;
    padding: 20px;
    background-color: black;
    cursor: pointer;
}
.count {
    font-size: 40px;
    color: red;
    padding: 20px;
}