.button {
    color: white;
    font-size: 30px;
    padding: 20px;
    background-color: black;
    cursor: pointer;
}
.count {
    font-size: 40px;
    color: red;
    padding: 20px;
    background-color: black;
}